<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The world of Star Wars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <script src="{{url_for('static', filename='script.js')}}" defer></script>
    <link rel="icon" type="image/png" href="https://typeset-beta.imgix.net/rehost%2F2016%2F9%2F13%2F2028a133-dd96-45af-8f58-c7ca6e42b2c0.jpg">
  </head>
  <body>
    <h1>Star Wars universe planets</h1>
    <div id="controll-buttons">
      <input class="btn btn-warning" type="button" id="previous" value="previous" data-link="" />
      <input class="btn btn-primary" type="button" id="next" value="next" data-link="" />
    </div>
    <table id="planet_data">
        <tr>
            <th>Name</th>
            <th>Diameter</th>
            <th>Climate</th>
            <th>Terrain</th>
            <th>Surface Water Percentage</th>
            <th>Population</th>
            <th>Residents</th>
        </tr>
    </table>


    <div id="residents-modal" class="modal fade">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Resident's data</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table id="resident_data">
                <tr>
                  <th>Name</th>
                  <th>Height</th>
                  <th>Mass</th>
                  <th>Hair color</th>
                  <th>Skin color</th>
                  <th>Eye color</th>
                  <th>Birth year</th>
                  <th>Gender</th>
                </tr>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>